.cus-header {
    box-shadow: 0px 0px 20px rgb(224, 224, 224);
    background: rgb(255, 251, 251);
}

.cus-time {
    margin-top: 0px;
}

.image-cover-class {
    transition: .4s;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
}

nav {
    padding: 0px !important;
}

.sight-logo {
    width: 170px;
}

.cus-bg-class {
    background-size: 900px auto !important;
    background-position: center center;
}

.cus-navigation {
    
}